body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 2em;
    padding-bottom: 5em; /* Ajuste el espacio para el footer */
}

h1, h2 {
    color: #333;
}

section {
    margin-bottom: 2em;
}

form {
    background-color: #e0e0e0;
    padding: 1em;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
